In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("C:/Users/Usuario/Downloads/movies_dataset.csv")

C:\Users\Usuario\AppData\Local\Temp\ipykernel_1028\4277811112.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/Usuario/Downloads/movies_dataset.csv")

In [9]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
# Columnas a eliminar
columns_to_drop = ["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"]

# Eliminar las columnas
df = df.drop(columns=columns_to_drop, errors='ignore')

In [11]:
df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0

In [12]:
#Convierto los valores nulos de la columna revenue en 0

df["revenue"] = df["revenue"].fillna(0)

In [13]:
#Convierto los valores nulos de la columna budget en 0
df["budget"] = df["budget"].fillna(0)

In [14]:
# Verificar si hay valores nulos en las columnas 'revenue' y 'budget'
null_revenue = df['revenue'].isnull().sum()
null_budget = df['budget'].isnull().sum()

# Mostrar el resultado
print(f"Valores nulos en la columna 'revenue': {null_revenue}")
print(f"Valores nulos en la columna 'budget': {null_budget}")

Valores nulos en la columna 'revenue': 0
Valores nulos en la columna 'budget': 0

In [15]:
df2 = df.copy()

In [16]:
#Elimino los valores nulo de la columna release_date

df2 = df2.dropna(subset=['release_date'])

In [17]:
null_budget = df2['release_date'].isnull().sum()


print(f"Valores nulos en la columna 'release_date': {null_revenue}")

Valores nulos en la columna 'release_date': 0

In [18]:
# Convertir la columna 'release_date' a formato de fecha `AAAA-mm-dd`

df2["release_date"] = pd.to_datetime(df2["release_date"],  errors='coerce')

In [19]:
# Extraer el año de la columna 'release_date' y asignarlo a una nueva columna 'release_year'
df2['release_year'] = df2['release_date'].dt.year

In [20]:
# Convertir la columna 'release_year' a tipo cadena (string)

df2['release_year'] = df2['release_year'].astype('Int64').astype('str')

In [21]:
# Convertir las columnas 'revenue' y 'budget' a numérico, manejando errores y valores no convertibles
df2['revenue'] = pd.to_numeric(df2['revenue'], errors='coerce')
df2['budget'] = pd.to_numeric(df2['budget'], errors='coerce')

In [22]:
# Crear la columna 'return' calculando el retorno de inversión
df2['return'] = df2.apply(
    lambda row: row['revenue'] / row['budget'] if row['budget'] != 0 else 0, axis=1
)

In [23]:
# Formatear la columna 'return' a dos decimales y asegurar que los ceros no tengan decimales
df2['return'] = df2['return'].apply(lambda x: f"{x:.2f}".rstrip('0').rstrip('.') if x != 0 else '0')

In [24]:
df2

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.04
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.09
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991,0
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011,0
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0
45464,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917,0
45465,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017,0

In [25]:
df4 = df2.copy()

In [26]:
df4

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.04
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.09
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991,0
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011,0
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0
45464,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917,0
45465,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017,0

In [66]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45379 non-null  object
 19  return                 45379 non-null  object
 20  collection_id          4488 non-null   float64
 21  collection_name        4488 non-null   object
dtypes: datetime64[ns](1), float64(6), object(15)
memory usage: 9.0+ MB

In [27]:
import numpy as np
import ast  # Asegúrate de importar el módulo ast

In [28]:
def extract_id_and_name(value):
    if pd.isnull(value):
        return {'id': np.nan, 'name': np.nan}
    try:
        collection_dict = ast.literal_eval(value)
        if isinstance(collection_dict, dict):
            return {
                'id': collection_dict.get('id', np.nan),
                'name': collection_dict.get('name', np.nan)
            }
        else:
            return {'id': np.nan, 'name': np.nan}
    except (ValueError, SyntaxError):
        return {'id': np.nan, 'name': np.nan}

# Aplicar la función a la columna 'belongs_to_collection'
df4[['collection_id', 'collection_name']] = df4['belongs_to_collection'].apply(lambda x: pd.Series(extract_id_and_name(x)))

In [30]:
# Mostrar los valores de la columna 'genres' en la fila 1
print(df4.loc[0, 'genres'])

# Mostrar los valores de la columna 'genres' en la fila 2
print(df4.loc[1, 'genres'])

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]

In [31]:
# Contar la frecuencia de cada valor en la columna 'id'
id_counts = df4['id'].value_counts()

# Mostrar los valores repetidos y su cantidad
print(id_counts)

id
141971    3
23305     2
168538    2
109962    2
119916    2
         ..
23104     1
37605     1
91727     1
41597     1
461257    1
Name: count, Length: 45349, dtype: int64

In [32]:
# Filtrar los id que se repiten
id_repetidos = id_counts[id_counts > 1]

# Mostrar los id repetidos y su cantidad
print(id_repetidos)

id
141971    3
23305     2
168538    2
109962    2
119916    2
97995     2
159849    2
84198     2
132641    2
99080     2
18440     2
10991     2
12600     2
5511      2
105045    2
14788     2
22649     2
15028     2
152795    2
25541     2
42495     2
13209     2
265189    2
110428    2
4912      2
298721    2
69234     2
77221     2
11115     2
Name: count, dtype: int64

In [33]:
# Eliminar filas duplicadas basadas en la columna 'id'
df_idunicos = df4.drop_duplicates(subset='id', keep='first')

In [34]:
print(df4['id'].dtype)

object

In [35]:
# Convertir la columna 'id' a tipo cadena
df4['id'] = df4['id'].astype(str)

In [36]:
# Contar la frecuencia de cada valor en la columna 'id'
id_counts = df_idunicos['id'].value_counts()

# Mostrar los valores repetidos y su cantidad
print(id_counts)

id
862       1
38309     1
300168    1
132316    1
74458     1
         ..
39053     1
37169     1
24805     1
43517     1
461257    1
Name: count, Length: 45349, dtype: int64

In [37]:
# Filtrar los id que se repiten
id_repetidos = id_counts[id_counts > 1]

# Mostrar los id repetidos y su cantidad
print(id_repetidos)

Series([], Name: count, dtype: int64)

In [68]:
#Creamos un dataframe para belongs_to_collection

# Selecciona las columnas deseadas
df_belongs_to_collection = df_idunicos[['id', 'collection_id', 'collection_name']]

In [69]:
#elimino filas con valores nulos

df_belongs_to_collection = df_belongs_to_collection.dropna(subset=['collection_id', 'collection_name'])

In [120]:
# Eliminar el '.0' de los valores en la columna 'id_companies'
df_belongs_to_collection['collection_id'] = df_belongs_to_collection['collection_id'].apply(lambda x: re.sub(r'\.0$', '', str(x)))

In [121]:
df_belongs_to_collection

           id collection_id                 collection_name
0         862         10194            Toy Story Collection
2       15602        119050       Grumpy Old Men Collection
4       11862         96871  Father of the Bride Collection
9         710           645           James Bond Collection
12      21032        117693                Balto Collection
...       ...           ...                             ...
45355   24568         37261         The Carry On Collection
45358   19307         37261         The Carry On Collection
45369   21251         37261         The Carry On Collection
45371  460135        477208  DC Super Hero Girls Collection
45382  182030        200641            Red Lotus Collection

[4485 rows x 3 columns]

In [122]:
# Definir la ruta del archivo CSV
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_belongs_to_collection.csv'


# Guardar el DataFrame en un archivo CSV
df_belongs_to_collection.to_csv(ruta_archivo, index=False)

In [39]:
# Crear un nuevo DataFrame con las columnas 'genres' e 'id'
df_genres_id = df_idunicos[['genres', 'id']]

In [40]:
# Convertir cadenas en listas de diccionarios
df_genres_id['genres'] = df_genres_id['genres'].apply(ast.literal_eval)

# Explode la columna genres
df_exploded = df_genres_id.explode('genres')


# Extraer id y nombre del género
df_exploded['id_genre'] = df_exploded['genres'].apply(lambda x: x.get('id') if isinstance(x, dict) else None)
df_exploded['genre'] = df_exploded['genres'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

# Eliminar filas con valores nulos y columna original genres
df_exploded = df_exploded.dropna(subset=['id_genre', 'genre'])
df_exploded = df_exploded.drop(columns=['genres'])

# Resetear el índice
df_exploded = df_exploded.reset_index(drop=True)

print(df_exploded)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_1028\2217190987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_genres_id['genres'] = df_genres_id['genres'].apply(ast.literal_eval)

           id  id_genre      genre
0         862      16.0  Animation
1         862      35.0     Comedy
2         862   10751.0     Family
3        8844      12.0  Adventure
4        8844      14.0    Fantasy
...       ...       ...        ...
90964   30840   10749.0    Romance
90965  111109      18.0      Drama
90966   67758      28.0     Action
90967   67758      18.0      Drama
90968   67758      53.0   Thriller

[90969 rows x 3 columns]

In [117]:
# Eliminar el '.0' de los valores en la columna 'id_companies'
df_exploded['id_genre'] = df_exploded['id_genre'].apply(lambda x: re.sub(r'\.0$', '', str(x)))

In [118]:
df_exploded

           id id_genre      genre
0         862       16  Animation
1         862       35     Comedy
2         862    10751     Family
3        8844       12  Adventure
4        8844       14    Fantasy
...       ...      ...        ...
90964   30840    10749    Romance
90965  111109       18      Drama
90966   67758       28     Action
90967   67758       18      Drama
90968   67758       53   Thriller

[90969 rows x 3 columns]

In [119]:
# Definir la ruta del archivo CSV
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_exploded.csv'


# Guardar el DataFrame en un archivo CSV
df_exploded.to_csv(ruta_archivo, index=False)

In [44]:
df_productioncompanies_id = df_idunicos[['production_companies', 'id']]

In [45]:
# Convertir cadenas en listas de diccionarios
df_productioncompanies_id['production_companies'] = df_productioncompanies_id['production_companies'].apply(ast.literal_eval)


# Explode la columna production_companies
df_production_companies = df_productioncompanies_id.explode('production_companies')


# Extraer id y nombre del género
df_production_companies['id_companies'] = df_production_companies['production_companies'].apply(lambda x: x.get('id') if isinstance(x, dict) else None)
df_production_companies['companies'] = df_production_companies['production_companies'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

# Eliminar filas con valores nulos y columna original production_companies
df_production_companies = df_production_companies.dropna(subset=['id_companies', 'companies'])
df_production_companies = df_production_companies.drop(columns=['production_companies'])

# Resetear el índice
df_production_companies = df_production_companies.reset_index(drop=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_1028\3267249788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_productioncompanies_id['production_companies'] = df_productioncompanies_id['production_companies'].apply(ast.literal_eval)

In [114]:
# Eliminar el '.0' de los valores en la columna 'id_companies'
df_production_companies['id_companies'] = df_production_companies['id_companies'].apply(lambda x: re.sub(r'\.0$', '', str(x)))

In [115]:
df_production_companies

           id id_companies                      companies
0         862            3        Pixar Animation Studios
1        8844          559               TriStar Pictures
2        8844         2550                   Teitler Film
3        8844        10201      Interscope Communications
4       15602         6194                   Warner Bros.
...       ...          ...                            ...
70444   30840        16323    20th Century Fox Television
70445   30840        38978  CanWest Global Communications
70446  111109        19653                    Sine Olivia
70447   67758         6165        American World Pictures
70448  227506        88753                      Yermoliev

[70449 rows x 3 columns]

In [116]:


# Definir la ruta del archivo CSV
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_production_companies.csv'


# Guardar el DataFrame en un archivo CSV
df_production_companies.to_csv(ruta_archivo, index=False)

In [50]:
print(df_idunicos['spoken_languages'].head())

0             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2             [{'iso_639_1': 'en', 'name': 'English'}]
3             [{'iso_639_1': 'en', 'name': 'English'}]
4             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, dtype: object

In [53]:
# Verificar la estructura de un valor en la columna 'production_companies'
example_value = df_idunicos['spoken_languages'].iloc[1]
print(example_value)

[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]

In [54]:
df_languages = df_idunicos[["id", "spoken_languages"]].copy()

           id                                   spoken_languages
0         862           [{'iso_639_1': 'en', 'name': 'English'}]
1        8844  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2       15602           [{'iso_639_1': 'en', 'name': 'English'}]
3       31357           [{'iso_639_1': 'en', 'name': 'English'}]
4       11862           [{'iso_639_1': 'en', 'name': 'English'}]
...       ...                                                ...
45460   30840           [{'iso_639_1': 'en', 'name': 'English'}]
45462  111109                  [{'iso_639_1': 'tl', 'name': ''}]
45463   67758           [{'iso_639_1': 'en', 'name': 'English'}]
45464  227506                                                 []
45465  461257           [{'iso_639_1': 'en', 'name': 'English'}]

[45349 rows x 2 columns]

In [57]:
#Elimino filas nulas de la columna spoken_languages


df_languages = df_languages.dropna(subset=["spoken_languages"])

In [59]:
# Suponiendo que ya tienes tu DataFrame cargado como df_languages_copy

# Función para limpiar y extraer los datos
def clean_and_extract(languages):
    # Convertir la cadena de listas de diccionarios a una lista de diccionarios
    languages = ast.literal_eval(languages)
    clean_data = []
    for lang in languages:
        # Verificar si el diccionario tiene las claves necesarias
        if isinstance(lang, dict) and 'iso_639_1' in lang and 'name' in lang:
            clean_data.append((lang['iso_639_1'], lang['name']))
    return clean_data

# Crear listas para las nuevas columnas
id_list = []
language_abrev_list = []
language_movie_list = []

# Iterar sobre el DataFrame original
for idx, row in df_languages.iterrows():
    # Limpiar y extraer los datos
    clean_languages = clean_and_extract(row['spoken_languages'])
    # Duplicar filas según la cantidad de lenguajes
    for lang in clean_languages:
        id_list.append(row['id'])
        language_abrev_list.append(lang[0])
        language_movie_list.append(lang[1])

# Crear el nuevo DataFrame
df_cleaned = pd.DataFrame({
    'id': id_list,
    'language_abrev': language_abrev_list,
    'language_movie': language_movie_list
})

In [60]:
display(df_cleaned)

           id language_abrev language_movie
0         862             en        English
1        8844             en        English
2        8844             fr       Français
3       15602             en        English
4       31357             en        English
...       ...            ...            ...
53235  222848             en        English
53236   30840             en        English
53237  111109             tl
53238   67758             en        English
53239  461257             en        English

[53240 rows x 3 columns]

In [61]:
# Definir la ruta del archivo CSV
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_cleaned.csv'

# Guardar el DataFrame en un archivo CSV
df_cleaned.to_csv(ruta_archivo, index=False)

In [80]:
# Crear un nuevo DataFrame con las columnas 'id' y 'title'
df_title = df_idunicos[['id', 'title']]

In [91]:

ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_title.csv'

# Guardar el DataFrame en un archivo CSV
df_title.to_csv(ruta_archivo, index=False)

In [89]:
# Crear un nuevo DataFrame eliminando las columnas especificadas
df_central = df_idunicos.drop(columns=[
    'belongs_to_collection', 
    'genres', 
    'overview', 
    'production_companies', 
    'production_countries', 
    'collection_id', 
    'collection_name',
    'spoken_languages',
    'tagline',
    'title'
])

In [95]:

import re


# Eliminar los '.0' al final de los valores en la columna 'runtime'

df_central["runtime"] = df_central["runtime"].apply(lambda x: re.sub(r'\.0$', '', str(x)))

In [111]:
# Eliminar los '.0' al final de los valores en la columna 'budget'

df_central["budget"] = df_central["budget"].apply(lambda x: re.sub(r'\.0$', '', str(x)))

C:\Users\Usuario\AppData\Local\Temp\ipykernel_1028\2473435553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_central["budget"] = df_central["budget"].apply(lambda x: re.sub(r'\.0$', '', str(x)))

In [112]:
df_central

,budget,id,original_language,popularity,release_date,revenue,runtime,status,vote_average,vote_count,release_year,return
0,30000000,862,en,21.946943,1995-10-30,373554033.0,81,Released,7.7,5415.0,1995,12.45
1,65000000,8844,en,17.015539,1995-12-15,262797249.0,104,Released,6.9,2413.0,1995,4.04
2,0,15602,en,11.7129,1995-12-22,0.0,101,Released,6.5,92.0,1995,0
3,16000000,31357,en,3.859495,1995-12-22,81452156.0,127,Released,6.1,34.0,1995,5.09
4,0,11862,en,8.387519,1995-02-10,76578911.0,106,Released,5.7,173.0,1995,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,30840,en,5.683753,1991-05-13,0.0,104,Released,5.7,26.0,1991,0
45462,0,111109,tl,0.178241,2011-11-17,0.0,360,Released,9.0,3.0,2011,0
45463,0,67758,en,0.903007,2003-08-01,0.0,90,Released,3.8,6.0,2003,0
45464,0,227506,en,0.003503,1917-10-21,0.0,87,Released,0.0,0.0,1917,0
45465,0,461257,en,0.163015,2017-06-09,0.0,75,Released,0.0,0.0,2017,0

Cantidad de valores nulos en la columna 'revenue': 0

In [108]:
# Contar la cantidad de valores nulos en la columna 'budget'
cantidad_nulos = df_central['release_date'].isnull().sum()

# Mostrar la cantidad de valores nulos
print(f"Cantidad de valores nulos en la columna 'release_date': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'release_date': 0

In [107]:
# Eliminar las filas donde la columna 'release_date' tiene valores nulos
df_central = df_central.dropna(subset=['release_date'])

In [101]:

# Contar la cantidad de valores nulos en la columna 'budget'
cantidad_nulos = df_central['budget'].isnull().sum()

# Mostrar la cantidad de valores nulos
print(f"Cantidad de valores nulos en la columna 'budget': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'budget': 0

In [102]:
# Completar los valores nulos en la columna 'budget' con 0
df_central['budget'] = df_central['budget'].fillna(0)

In [113]:
df_central.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45346 entries, 0 to 45465
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45346 non-null  object
 1   id                 45346 non-null  object
 2   original_language  45335 non-null  object
 3   popularity         45346 non-null  object
 4   release_date       45346 non-null  datetime64[ns]
 5   revenue            45346 non-null  float64
 6   runtime            45346 non-null  object
 7   status             45266 non-null  object
 8   vote_average       45346 non-null  float64
 9   vote_count         45346 non-null  float64
 10  release_year       45346 non-null  object
 11  return             45346 non-null  object
dtypes: datetime64[ns](1), float64(3), object(8)
memory usage: 4.5+ MB

In [123]:
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia Movies/df_central.csv'

# Guardar el DataFrame en un archivo CSV
df_central.to_csv(ruta_archivo, index=False)

In [125]:
df_credits = pd.read_csv("C:/Users/Usuario/Downloads/credits.csv")

In [126]:
df_credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [129]:
# Eliminar duplicados en la columna 'id', manteniendo la primera instancia
df_credits_sin_duplicados = df_credits.drop_duplicates(subset=['id'], keep='first')

In [131]:
import ast
# Función para verificar si una cadena es una lista válida
def is_valid_list(s):
    try:
        # Intenta convertir la cadena a una lista usando ast.literal_eval
        val = ast.literal_eval(s)
        return isinstance(val, list)
    except (ValueError, SyntaxError):
        return False

# Aplicar la función para crear una máscara de registros válidos
valid_mask = df_credits_sin_duplicados['cast'].apply(is_valid_list) & df_credits_sin_duplicados['crew'].apply(is_valid_list)

# Crear DataFrames separados
df_pandas_valid = df_credits_sin_duplicados[valid_mask].reset_index(drop=True)
df_pandas_invalid = df_credits_sin_duplicados[~valid_mask].reset_index(drop=True)

In [133]:
# Suponiendo que df_pandas_valid ya está definido
# Asegúrate de convertir las cadenas en listas reales
df_pandas_valid['cast'] = df_pandas_valid['cast'].apply(lambda x: ast.literal_eval(x))
df_pandas_valid['crew'] = df_pandas_valid['crew'].apply(lambda x: ast.literal_eval(x))

# Filtrar filas con listas vacías en cast o crew
df_credits_sin_duplicados_vacias = df_pandas_valid[(df_pandas_valid['cast'].apply(len) == 0) | (df_pandas_valid['crew'].apply(len) == 0)]

# Filtrar filas sin listas vacías en cast y crew
df_credits_sin_duplicados_Novacios = df_pandas_valid[(df_pandas_valid['cast'].apply(len) > 0) & (df_pandas_valid['crew'].apply(len) > 0)]

In [147]:
#Creo las listas vacias que luego van a formar las columnas de mi df
cast_id_list = []
character_list = []
credit_id_list = []
gender_list = []
id_list = []
name_list = []
order_list = []
profile_path_list = []
movie_id_list = []

# Iterar sobre el DataFrame original

for idx, row in df_credits_sin_duplicados_Novacios.iterrows():
    # La columna 'cast' ya es una lista de diccionarios
    cast_list = row['cast']
    # Extraer los datos y agregarlos a las listas
    movie_id = row['id']
    for cast in cast_list:
        cast_id_list.append(cast.get('cast_id', None))
        character_list.append(cast.get('character', None))
        credit_id_list.append(cast.get('credit_id', None))
        gender_list.append(cast.get('gender', None))
        id_list.append(cast.get('id', None))
        name_list.append(cast.get('name', None))
        order_list.append(cast.get('order', None))
        profile_path_list.append(cast.get('profile_path', None))
        movie_id_list.append(movie_id) 
# Crear el nuevo DataFrame
df_cast = pd.DataFrame({
    'id_cast': cast_id_list,
    'character': character_list,
    'id_credit': credit_id_list,
    'gender': gender_list,
    'id_actor': id_list,
    'name': name_list,
    'order': order_list,
    'profile_path': profile_path_list,
    'id': movie_id_list
})

In [152]:
df_cast

,id_cast,character,id_credit,gender,id_actor,name,order,id
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,862
...,...,...,...,...,...,...,...,...
560233,2,,52fe4ea59251416c7515d7d5,2,544742,Iwan Mosschuchin,0,227506
560234,3,,52fe4ea59251416c7515d7d9,1,1090923,Nathalie Lissenko,1,227506
560235,4,,52fe4ea59251416c7515d7dd,2,1136422,Pavel Pavlov,2,227506
560236,5,,52fe4ea59251416c7515d7e1,0,1261758,Aleksandr Chabrov,3,227506
560237,6,,52fe4ea59251416c7515d7e5,1,29199,Vera Orlova,4,227506

In [137]:
# Crear listas para las nuevas columnas
credit_id_list = []
department_list = []
gender_list = []
id_list = []
job_list = []
name_list = []
profile_path_list = []
movie_id_list = []
# Iterar sobre el DataFrame original
for idx, row in df_credits_sin_duplicados_Novacios.iterrows():
    # La columna 'crew' ya es una lista de diccionarios
    crew_list = row['crew']
    # Extraer los datos y agregarlos a las listas
    movie_id = row['id']
    for crew in crew_list:
        credit_id_list.append(crew.get('credit_id', None))
        department_list.append(crew.get('department', None))
        gender_list.append(crew.get('gender', None))
        id_list.append(crew.get('id', None))
        job_list.append(crew.get('job', None))
        name_list.append(crew.get('name', None))
        profile_path_list.append(crew.get('profile_path', None))
        movie_id_list.append(movie_id) 
# Crear el nuevo DataFrame
df_crew = pd.DataFrame({
    'credit_id': credit_id_list,
    'department': department_list,
    'gender': gender_list,
    'id_director': id_list,
    'job': job_list,
    'name': name_list,
    'profile_path': profile_path_list,
    'id': movie_id_list
})

In [ ]:
# Eliminar la columna 'profile_path' del DataFrame df_crew in-place
df_crew.drop(columns=['profile_path'], inplace=True)

In [150]:
# Eliminar la columna 'profile_path' del DataFrame df_cast in-place
df_cast.drop(columns=['profile_path'], inplace=True)

In [158]:
# Crear una copia idéntica del DataFrame df_crew
df_cast_copia = df_cast.copy()

df_crew_copia = df_crew.copy()

In [163]:
# Crear el DataFrame df_actor con las columnas 'id', 'name', y 'character'
df_actor = df_cast_copia[['id_actor', 'name']].copy()

In [169]:
# Eliminar los valores duplicados en la columna 'id_actor' y conservar la primera aparición
df_actor_unique = df_actor.drop_duplicates(subset='id_actor', keep='first')

In [181]:

ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia cast__crew/df_actor_unique.csv'

# Guardar el DataFrame en un archivo CSV
df_actor_unique.to_csv(ruta_archivo, index=False)

In [186]:
df_cast_copia = df_cast_copia.drop(columns=['gender'])

In [ ]:
# Eliminar la columna 'name' del DataFrame df_cast
df_cast_copia = df_cast_copia.drop(columns=['name'])

In [188]:
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia cast__crew/df_cast_copia.csv'

# Guardar el DataFrame en un archivo CSV
df_cast_copia.to_csv(ruta_archivo, index=False)

In [190]:
# Crear el nuevo DataFrame con las columnas id_director y name
df_director = df_crew[['id_director', 'name']].copy()

# Mostrar las primeras filas del nuevo DataFrame
df_director.head()

   id_director            name
0         7879   John Lasseter
1        12891     Joss Whedon
2            7  Andrew Stanton
3        12892      Joel Cohen
4        12893    Alec Sokolow

In [195]:
# Eliminar los valores duplicados en la columna 'id_director' y conservar la primera aparición
df_director_unique = df_director.drop_duplicates(subset='id_director', keep='first')

In [197]:
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia cast__crew/df_director_unique.csv'

# Guardar el DataFrame en un archivo CSV
df_director_unique.to_csv(ruta_archivo, index=False)

In [198]:
# Eliminar las columnas name y gender del DataFrame df_crew_copia
df_crew_copia = df_crew_copia.drop(columns=['name', 'gender'])

# Verificar que las columnas hayan sido eliminadas
df_crew_copia.head()

                  credit_id department  id_director         job   id
0  52fe4284c3a36847f8024f49  Directing         7879    Director  862
1  52fe4284c3a36847f8024f4f    Writing        12891  Screenplay  862
2  52fe4284c3a36847f8024f55    Writing            7  Screenplay  862
3  52fe4284c3a36847f8024f5b    Writing        12892  Screenplay  862
4  52fe4284c3a36847f8024f61    Writing        12893  Screenplay  862

In [199]:
ruta_archivo = 'C:/Users/Usuario/Desktop/Desarrollo de mi proyecto python/Proyecto/Data Limpia cast__crew/df_crew_copia.csv'

# Guardar el DataFrame en un archivo CSV
df_crew_copia.to_csv(ruta_archivo, index=False)